@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    animation: fade 1.5s ease forwards;
}
.logo{
    font-family: 'Poppins',sans-serif;
}
.navbar-header{
    opacity: .9;
}
.navbar-toggler{
    border: none !important;
    box-shadow: none !important;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 2px;
    padding: 0%;
    margin: 0%;
    flex-wrap: wrap;
}
.logo h1{
    font-weight: 500;
}
.bg-home{
    background-color: antiquewhite;
}
.quote h1{
    font-family: 'Poppins',sans-serif;
    font-weight: 200;
    opacity: 0;
    animation: showup 1s ease forwards;
    animation-delay: 1s;
}
.quote h4{ 
    font-family: "Lucida Handwriting";
    animation: showup 1s ease forwards;
    animation-delay: 1.5s;
    opacity: 0;
}
#home img{
    animation: showright 1s ease forwards;
    animation-delay: .2s;
    opacity: 0;
}
@font-face {
    font-family: "Lucida Handwriting";
    src: url("fonts/LucidaHandwriting.woff2") format("woff2"),
         url("fonts/LucidaHandwriting.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@keyframes showup{
    0%{
        opacity: 0;
        transform: translateX(30px);
    }
  
    100%{
        opacity: 1;
        transform: translateX(0);

    }
}
@keyframes showright{
    0%{
        opacity: 0;
        transform: translate(-100px);
    }
  
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.bg-menu{
    background-color: rgb(255, 196, 181);
}
.bg-services{
    background-color: antiquewhite;
}
.bg-about{
    background-color: rgb(251, 152, 152);
    border-bottom-right-radius: 150px;
    border-top-left-radius: 150px;
}
.bg-about h1{
    font-family: "Lucida Handwriting";
}
.about-des p{
    font-family: poppins;
    font-weight: 300;
    font-size: x-large;
    text-align: center;
}
#menu{
    scroll-margin-top:70px ;
}
#menu .container h1{
    font-family: "Lucida Handwriting";    
}
#menu .card {
  max-width: 100%;
}
#menu .card img{
    height: 200px;
    object-fit: cover;
}
#services{
    scroll-margin-top:90px ;
    padding: 25px;
}
#services h1,.card-text{
    font-family: "Lucida Handwriting";    
}
#services .card{
    border-radius: 10px;
    transition: transform .5s ease,background-color .5s ease, color .5s ease;
    margin: 10px auto;
}
#services .card i{
    -webkit-text-fill-color: rgb(187, 30, 30);
}
#services .card:hover i{
    -webkit-text-fill-color: rgb(255, 255, 255);
}
#services .card:hover{
    transform: translateY(-10px);
    background-color: rgb(220, 53, 69);
    color: white;
}
#contact .container .rowp{
    text-align: center;
    font-size: 1.5rem;
    color: white;
    font-weight: bolder;
    font-family:"Lucida Handwriting" ;
}
.button{
   padding: 5px 10px;
   max-width: fit-content;
   background-color: #23d42f;
   border-radius: 15px;
   cursor: pointer;
   margin: auto;
   transition: background-color .5s ease;
}
.button:hover{
    background-color: #0cc218;
}
.button a{
    text-decoration: none;
    color: #ffffff;
    font-size: x-large;
    font-weight: 500;
}
.button i{
    color: #d9ffdb;
    font-size: xx-large;
}
#contact{
    background-color: rgb(187, 30, 30);
}
#contact .container .address a{
    color: black;
}
#contact .container .address{
    text-align: center;
    margin-top: 50px;
}
#contact .container .follow-icons i{
    font-size: x-large;
    color: black;
    transition: transform .3s ease;
    cursor: pointer;
}
.follow-icons{
    display: flex;
}
#contact .container .follow-icons i:hover{
    transform: scale(1.2);
}
#contact .container .address p,h4,a{
    color: black;
}
#contact .container .copyright{
    text-align: center;
}



@media (max-width:768px){
    nav ul{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    nav ul li{
        margin-left: -128px;  
    }
    #menu .card{
       text-align: center;
       margin: 0%;
       height: 100%; 
    }
    .about-des p{
        font-size: 1rem;
        text-align: justify;
        padding: 0 15px;
    }
      #services .card {
        max-width: 300px;   
        margin: 10px auto;
    }
     #services .card-text{
        font-size: 1.2rem;
  }
   #contact .container .rowp {
        font-size: 1.2rem; 
    }
    #services h1,.card-text{
    font-family: "Lucida Handwriting";    
}
    
}
@media only screen and (max-width: 600px) {
  section {
    padding: 30px 15px !important;
  }
  .bg-about{
    background-color: rgb(251, 152, 152);
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
}.bg-about h1{
    font-family: "Lucida Handwriting";
    border-bottom: 1px solid;
}
  .about-des p {
        font-size: 0.9rem; 
        text-align: justify;
        padding: 0 15px;
    }
    #services .card {
        max-width: 90%; 
        margin: 10px auto;
        text-align: center;
    }
    .button {
        padding: 8px 15px; 
        font-size: 1rem;
    }
    .quote h1 {
        font-size: 2rem; 
    }
    .quote .q2{
        font-size: 1.5rem;
    }
    #home img {
        width: 100%; 
        height: auto;
    }
    .quote h1, .q2{
        font-family: "Poppins";
        font-weight: 200;
    }
    #menu .card{
        max-width: 100%;
        text-align: center;
        margin: 0 ;
    }
}

/* Tablet */
@media (min-width: 601px) and (max-width: 1024px) {
    nav ul{
        flex-direction: column;
        align-items: flex-end;
        gap: 15px;
        margin-top: 25px;
        top: 60px;
        padding: 0;
        padding-right: 20px;
        display: flex; 
    }
}

